# Prerequisites
*.d
installed
mathprim
_build
build
.cache
out
.vscode
tmp
cmake-*
.idea
perf.data
.venv
uv.lock

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
